<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580253366003-8b1266iolgepq42rhp5kasp2qgf19jkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580253366003-8b1266iolgepq42rhp5kasp2qgf19jkv</string>
	<key>API_KEY</key>
	<string>AIzaSyAJOVRtxeD_qE4JLAV-ryHrXN4yLz1-O88</string>
	<key>GCM_SENDER_ID</key>
	<string>580253366003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-5f3b5</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-5f3b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580253366003:ios:b49af43f72495a2e4c2986</string>
</dict>
</plist>